<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.gmall.product.mapper.SkuAttrValueMapper">

    <resultMap id="BaseResultMap" type="com.jing.gmall.product.entity.SkuAttrValue">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="attrId" column="attr_id" jdbcType="BIGINT"/>
            <result property="valueId" column="value_id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,attr_id,value_id,
        sku_id
    </sql>
    <select id="getSkuAttrNameAndValue" resultType="com.jing.gmall.search.entity.SearchAttr">
        select sav.attr_id,bai.attr_name,bav.value_name attr_value
        from sku_attr_value sav
                 left join base_attr_info bai
                           on sav.attr_id = bai.id
                 left join base_attr_value bav
                           on sav.value_id = bav.id

        where sav.sku_id = #{skuId}
    </select>
</mapper>
